<a href="https://colab.research.google.com/github/severancej/colorful_project/blob/main/AI_14_%EC%9E%A5%EC%A7%80%EC%9D%80_Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# <항상 시작 전>라이브러리 불러오기

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
#파일 업로드
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2 (5).csv

In [3]:
# .read_csv() 활용하여 데이터 불러오기
df = pd.read_csv('vgames2.csv')

#데이터 정제 전 원본copy함
df1 = df.copy()

In [4]:
#시각적 탐색을 위한 코드
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)

In [4]:

#데이터셋의 shape 확인
print(df1.shape)
print("")
print("")

#데이터셋의 info 확인
print(df1.info( ))

(16598, 10)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB
None

In [5]:
#🕹️ Data Description
#Name : 게임의 이름입니다.
#Platform : 게임이 지원되는 플랫폼의 이름입니다.
#Year : 게임이 출시된 연도입니다.
#Genre : 게임의 장르입니다.
#Publisher : 게임을 제작한 회사입니다.
#NA_Sales : 북미지역에서의 출고량입니다.
#EU_Sales : 유럽지역에서의 출고량입니다.
#JP_Sales : 일본지역에서의 출고량입니다.
#Other_Sales : 기타지역에서의 출고량입니다.
df1.head( )

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [6]:
# 데이터의 결측치 확인 - df1
pd.DataFrame(df1.isnull().sum(), columns=["결측치 개수"])

             결측치 개수
Unnamed: 0        0
Name              0
Platform          0
Year            271
Genre            50
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [13]:
# 'Year' 결측데이터를 삭제한 이유는 연도를 추측하는것이 쉽지 않고
#다음분기 게임 설계를 위해 연도별 게임트렌드를 알아야 하는데
#삭제하지 않고 값을 0으로 두면 정확한 연도별 게임트렌드 분석수치가 달라질것 
#같아서 삭제하기로 결정했고,
#전체 데이터 16597개 중 Year 결측치271개는 1.63%정도여서, 
#삭제한다해도 분석결과에 큰 영향을 주지 않을거라고 생각한다. 

df1.dropna(subset=['Year'],axis=0, inplace=True)
df1.shape

(16327, 10)

In [15]:
# 데이터의 남은 결측치 확인 - df1
pd.DataFrame(df1.isnull().sum(), columns=["결측치 개수"])

             결측치 개수
Unnamed: 0        0
Name              0
Platform          0
Year              0
Genre            50
Publisher        36
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [16]:
df1[df1['Genre'].isnull().value_counts()]

KeyError: ignored

In [ ]:
# 환자 데이터 중 중복된 데이터 확인
patients[patients.duplicated()]

In [ ]:
# 랜덤으로 추출하여 missing_value확인
df1.sample(5)

In [19]:
#'Genre'(게임장르)는 게임이름으로 유추가능하고,
#'Publisher'(게임회사이름)은 없어도 연도별 출고량이나 게임장르를 알 수 있어서 유의미한 데이터라고 판단해서 삭제 안함. 
df1['Genre'].fillna(0, inplace=True)
df1['Publisher'].fillna(0, inplace=True)
# column명 'Genre','Publisher' 결측치를 0으로 채우고 난 후 결측치 확인 - df1
pd.DataFrame(df1.isnull().sum(), columns=["결측치 개수"])

             결측치 개수
Unnamed: 0        0
Name              0
Platform          0
Year              0
Genre             0
Publisher         0
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [7]:
# 데이터 중 Year, Genre, Publisher 컬럼의 결측값 확인
# df1[df1['Year'].isnull() | df1['Genre'].isnull() | df1['Publisher'].isnull()]

#
df1[df1['Year'].isnull()]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
31,32,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0,0.21
109,110,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,Unknown,0,0,0.02,0
273,274,Jewel Link Chronicles: Mountains of Madness,DS,NaN,Puzzle,Avanquest,0,0.06,0,0.01
358,359,Majesty 2: The Fantasy Kingdom Sim,X360,NaN,Simulation,Unknown,0.03,0,0,0
430,431,Famista 64,N64,NaN,Sports,Namco Bandai Games,0,0,0.17,0.03
...,...,...,...,...,...,...,...,...,...,...
16240,16241,Freaky Flyers,GC,NaN,Racing,Unknown,0.01,0,0,0
16275,16276,Space Invaders,2600,NaN,Shooter,Atari,2.36,0.14,0M,0.03
16278,16279,Madden NFL 11,Wii,NaN,Sports,Unknown,0.7,0,0,50K
16425,16426,Yoostar on MTV,X360,NaN,Misc,Unknown,0.06,0,0,0
16432,16433,Bejeweled 3,X360,NaN,Puzzle,Unknown,0.13,0,0,0.01

In [12]:
# column_Year을 이해하기 쉽게 int로 변환
#전체 데이터 보니깐 년도만 표시해서 float형태로 있을 필요가 없음
df1 = df1.astype({'Year':'int'})

In [13]:
#제대로 삭제 되었는지 다시 확인
pd.DataFrame(df1.isnull().sum(), columns=["결측치 개수"])

             결측치 개수
Unnamed: 0        0
Name              0
Platform          0
Year              0
Genre             0
Publisher         0
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [14]:
df1.sample(5)

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
14568,14569,Final Fantasy Legend III,GB,1991,Role-Playing,SquareSoft,0,0,0.76,0
10074,10075,NHL 2K9,X360,2008,Sports,Take-Two Interactive,0.15,0.01,0,0.01
7457,7458,The Heavy Rain and Beyond: Two Souls Collection,PS4,2016,Action,Sony Computer Entertainment,0,0.16,0,0.03
1032,1033,Planet Puzzle League,DS,2007,Puzzle,Nintendo,0.14,0.01,0.16,0.01
10051,10052,Shining Hearts,PSP,2010,Role-Playing,Sega,0,0,0.2,0

In [15]:
# 데이터셋의 중복된 데이터 개수 확인
df1.duplicated().sum()

0

In [16]:
df1['Year'].value_counts( )

2009    1421
2008    1418
2010    1252
2007    1199
2011    1129
2006    1001
2005     937
2002     826
2003     768
2004     759
2012     655
2015     609
2014     580
2013     544
2001     480
1998     376
2000     346
2016     339
1999     338
1997     287
1996     260
1995     215
1994     120
1993      60
1981      46
1992      43
1991      41
1982      36
1986      20
1983      17
1989      17
1990      16
1987      16
1988      15
1985      14
1984      14
11        10
9         10
8         10
1980       9
10         7
3          7
6          7
16         5
15         5
5          4
4          4
95         4
98         3
7          3
96         3
2017       3
2          3
0          3
14         2
1          2
97         2
13         2
12         2
86         1
2020       1
94         1
Name: Year, dtype: int64

In [10]:
msdf = df[df1['Genre'].isnull()]
msdf

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
50,51,Ape Escape: On the Loose,PSP,2005.0,NaN,Sony Computer Entertainment,0.52,0.01,0.12,0.05
408,409,NBA Ballers,XB,2004.0,NaN,Midway Games,0.37,0.11,0,0.02
1328,1329,NFL Street,XB,2004.0,NaN,Electronic Arts,0.49,0.15,0,0.02
1582,1583,SingStar Singalong With Disney,PS2,2008.0,NaN,Sony Computer Entertainment,0,0.04,0,0.57
1971,1972,Pokemon X/Pokemon Y,3DS,2013.0,NaN,Nintendo,5170K,4.05,4.34,0.79
2043,2044,NASCAR Racing,PS,1996.0,NaN,Pioneer LDC,0.23,0.16,0,0.03
2497,2498,Jurassic Park III: Island Attack,GBA,2001.0,NaN,Konami Digital Entertainment,0.13,0.05,0,0
3353,3354,The Godfather: Dons Edition,PS3,2007.0,NaN,Electronic Arts,0.25,0.02,0,0.03
3363,3364,Ski-Doo Snowmobile Challenge,X360,2009.0,NaN,Valcon Games,0.03,0,0,0
3470,3471,Batman Beyond: Return of the Joker,N64,2000.0,NaN,Ubisoft,0.07,0.02,0,0
3515,3516,Princess Saver! Eternal Love for My Lady,PS2,2010.0,NaN,Comfort,0,0,0.02,0
3932,3933,MVP Baseball 2004,PS2,2004.0,NaN,Electronic Arts,1.1,0.06,0,0.18
4148,4149,Grand Theft Auto IV,PC,2008.0,NaN,Take-Two Interactive,0.01,0.79,0,0.08
4349,4350,Brain Quest: Grades 5 & 6,DS,2008.0,NaN,Electronic Arts,0.11,0,0,0.01
4545,4546,Dragon Ball Z: Ultimate Tenkaichi,X360,2011.0,NaN,Namco Bandai Games,0.39,0.1,0.01,0.04
4598,4599,Wii Party,Wii,2010.0,NaN,Nintendo,1.79,3.53,2.49,0.68
4935,4936,Astonishia Story,PSP,2006.0,NaN,Ubisoft,0.03,0,0,0
5668,5669,Chrono Cross,PS,1999.0,NaN,SquareSoft,0.62,0.42,0.69,0.12
5713,5714,Back to the Future: The Game,XOne,2015.0,NaN,Telltale Games,0,0.02,0,0
5945,5946,Medabots: Metabee,GBA,2002.0,NaN,Natsume,0.04,0.01,0,0
6798,6799,UFO: Trilogy,PC,2007.0,NaN,Unknown,0,0.02,0,0
7143,7144,Largo Winch .// Commando Sar,PS,2002.0,NaN,Ubisoft,0.01,0.01,0,0
7336,7337,Madden NFL 11,PS2,2010.0,NaN,Electronic Arts,0.41,0.02,0,0.07
7526,7527,Ukiyo no Shishi,PS3,2015.0,NaN,Namco Bandai Games,0,0,0.03,0
7797,7798,Myth Makers: Orbs of Doom,Wii,2007.0,NaN,Popcorn Arcade,0.05,0,0,0
9488,9489,Final Fantasy XII,PS2,2006.0,NaN,Square Enix,1.88,0,2.33,1.74
10432,10433,The Mummy: Tomb of the Dragon Emperor,Wii,2008.0,NaN,Vivendi Games,0.08,0,0,0.01
10501,10502,Bakemonogatari Portable,PSP,2012.0,NaN,Namco Bandai Games,0,0,0.05,0
10874,10875,Karaoke Revolution Glee: Volume 3,Wii,2011.0,NaN,Konami Digital Entertainment,0.24,0.04,0,0.02
11050,11051,Puppy Palace,DS,2008.0,NaN,Ubisoft,0.35,0,0,0.03
11063,11064,Yakuza 3,PS3,2009.0,NaN,Sega,0.21,0.21,0.62,0.08
11268,11269,Cloudy With a Chance of Meatballs,PS3,2009.0,NaN,Ubisoft,0.09,0.01,0,0.01
11496,11497,F-Zero X,N64,1998.0,NaN,Nintendo,0.45,0.33,0.29,0.03
11668,11669,The History Channel: Battle for the Pacific,Wii,2007.0,NaN,Activision,0.1,0,0,0.01
11699,11700,Time Travelers,PSV,2012.0,NaN,Level 5,0,0,0.05,0
12314,12315,Ice Hockey,2600,1980.0,NaN,Activision,0.46,0.03,0,0.01
12331,12332,Onimusha: Warlords,PS2,2001.0,NaN,Virgin Interactive,0.99,0.48,1.09,0.14
12340,12341,Virtual Chess 64,N64,1998.0,NaN,Titus,0.05,0.01,0,0
12870,12871,PQ2: Practical Intelligence Quotient,PSP,2006.0,NaN,D3Publisher,0.04,0,0,0
12982,12983,Urban Chaos,PS,1999.0,NaN,Eidos Interactive,0.06,0.04,0,0.01
13348,13349,Treasure Report: Kikai Jikake no Isan,DS,2011.0,NaN,Namco Bandai Games,0,0,0.05,0
14930,14931,Skylanders Giants,PS3,2012.0,NaN,Activision,0.35,0.52,0,0.22
15077,15078,Myth Makers: Super Kart GP,Wii,2007.0,NaN,Popcorn Arcade,0.01,0,0,0
15211,15212,James Bond 007: Nightfire,XB,2002.0,NaN,Electronic Arts,0.58,220K,0,0.03
15426,15427,"WarioWare, Inc.: Mega Party Game$",GC,2003.0,NaN,Nintendo,0.2,0.05,0.44,0.02
15526,15527,Bloodborne,PS4,2015.0,NaN,Sony Computer Entertainment,1,0.76,0.26,0.36
16091,16092,Brain Boost: Beta Wave,DS,2005.0,NaN,505 Games,0.14,0,0,0.01
16431,16432,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16555,16556,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,16588,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [17]:
df1['Genre'].value_counts( )

Action          3242
Sports          2299
Misc            1705
Role-Playing    1466
Shooter         1280
Adventure       1270
Racing          1220
Platform         874
Simulation       849
Fighting         835
Strategy         670
Puzzle           567
0                 50
Name: Genre, dtype: int64