<a href="https://colab.research.google.com/github/severancej/colorful_project/blob/main/AI_14_%EC%9E%A5%EC%A7%80%EC%9D%80_Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# <Ìï≠ÏÉÅ ÏãúÏûë Ï†Ñ>ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
#ÌååÏùº ÏóÖÎ°úÎìú
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2 (7).csv

In [3]:
# .read_csv() ÌôúÏö©ÌïòÏó¨ Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
df = pd.read_csv('vgames2.csv')

#Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†ú Ï†Ñ ÏõêÎ≥∏copyÌï®
df1 = df.copy()

In [4]:

#Îç∞Ïù¥ÌÑ∞ÏÖãÏùò shape ÌôïÏù∏
print(df1.shape)
print("")
print("")

#Îç∞Ïù¥ÌÑ∞ÏÖãÏùò info ÌôïÏù∏
print(df1.info( ))

(16598, 10)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB
None

In [5]:
#üïπÔ∏è Data Description
#Name : Í≤åÏûÑÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.
#Platform : Í≤åÏûÑÏù¥ ÏßÄÏõêÎêòÎäî ÌîåÎû´ÌèºÏùò Ïù¥Î¶ÑÏûÖÎãàÎã§.
#Year : Í≤åÏûÑÏù¥ Ï∂úÏãúÎêú Ïó∞ÎèÑÏûÖÎãàÎã§.
#Genre : Í≤åÏûÑÏùò Ïû•Î•¥ÏûÖÎãàÎã§.
#Publisher : Í≤åÏûÑÏùÑ Ï†úÏûëÌïú ÌöåÏÇ¨ÏûÖÎãàÎã§.
#NA_Sales : Î∂ÅÎØ∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.
#EU_Sales : Ïú†ÎüΩÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.
#JP_Sales : ÏùºÎ≥∏ÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.
#Other_Sales : Í∏∞ÌÉÄÏßÄÏó≠ÏóêÏÑúÏùò Ï∂úÍ≥†ÎüâÏûÖÎãàÎã§.
df1.head( )

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [6]:
# Îç∞Ïù¥ÌÑ∞Ïùò Í≤∞Ï∏°Ïπò ÌôïÏù∏ - df1
pd.DataFrame(df1.isnull().sum(), columns=["Í≤∞Ï∏°Ïπò Í∞úÏàò"])

             Í≤∞Ï∏°Ïπò Í∞úÏàò
Unnamed: 0        0
Name              0
Platform          0
Year            271
Genre            50
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [7]:
# Îç∞Ïù¥ÌÑ∞ Ï§ë Year, Genre, Publisher Ïª¨ÎüºÏùò Í≤∞Ï∏°Í∞í ÌôïÏù∏
df1[df1['Year'].isnull() | df1['Genre'].isnull() | df1['Publisher'].isnull()]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
31,32,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0,0.21
50,51,Ape Escape: On the Loose,PSP,2005.0,NaN,Sony Computer Entertainment,0.52,0.01,0.12,0.05
109,110,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,Unknown,0,0,0.02,0
272,273,UK Truck Simulator,PC,2010.0,Simulation,NaN,0,0.03,0,0
273,274,Jewel Link Chronicles: Mountains of Madness,DS,NaN,Puzzle,Avanquest,0,0.06,0,0.01
...,...,...,...,...,...,...,...,...,...,...
16425,16426,Yoostar on MTV,X360,NaN,Misc,Unknown,0.06,0,0,0
16431,16432,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16432,16433,Bejeweled 3,X360,NaN,Puzzle,Unknown,0.13,0,0,0.01
16555,16556,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,16588,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [11]:
# Í≤∞Ï∏°Îç∞Ïù¥ÌÑ∞Î•º ÏÇ≠Ï†úÌïú Ïù¥Ïú†Îäî Îã§ÏùåÎ∂ÑÍ∏∞ Í≤åÏûÑ ÏÑ§Í≥ÑÎ•º ÏúÑÌï¥ 
#Ïó∞ÎèÑÎ≥Ñ Í≤åÏûÑÌä∏Î†åÎìúÎ•º ÏïåÏïÑÏïº ÌïòÎäîÎç∞
#ÏÇ≠Ï†úÌïòÏßÄ ÏïäÍ≥† Í∞íÏùÑ 0ÏúºÎ°ú ÎëêÎ©¥ Ï†ïÌôïÌïú Ïó∞ÎèÑÎ≥Ñ Í≤åÏûÑÌä∏Î†åÎìú Î∂ÑÏÑùÏàòÏπòÍ∞Ä Îã¨ÎùºÏßàÍ≤É Í∞ôÏïÑÏÑúÏù¥Í≥†
#Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ 16597Í∞ú Ï§ë Year Í≤∞Ï∏°Ïπò271Í∞úÎäî 1.63%Ï†ïÎèÑÏó¨ÏÑú, ÏÇ≠Ï†úÌïúÎã§Ìï¥ÎèÑ Î∂ÑÏÑùÍ≤∞Í≥ºÏóê ÌÅ∞ ÏòÅÌñ•ÏùÑ Ï£ºÏßÄ ÏïäÏùÑÍ±∞ÎùºÍ≥† ÏÉùÍ∞ÅÌïúÎã§. 
df1['Year'].dropna(axis=0,inplace=True)

TypeError: ignored

In [10]:
# column_YearÏùÑ Ïù¥Ìï¥ÌïòÍ∏∞ ÏâΩÍ≤å intÎ°ú Î≥ÄÌôò
#Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ Î≥¥ÎãàÍπê ÎÖÑÎèÑÎßå ÌëúÏãúÌï¥ÏÑú floatÌòïÌÉúÎ°ú ÏûàÏùÑ ÌïÑÏöîÍ∞Ä ÏóÜÏùå
df1 = df1.astype({'Year':'int'})

AttributeError: ignored

In [ ]:
df1[ df1['Genre'].isnull()]

In [ ]:
df1['Genre'].fillna(0, inplace=True)

In [ ]:

df1[df1['Year'].isnull() | df1['Genre'].isnull() | df1['Publisher'].isnull()]

In [ ]:
# Í≤∞Ï∏°ÏπòÎ•º 0ÏúºÎ°ú ÎåÄÏ≤¥
df1.fillna(0, inplace=True)

In [ ]:
df1.sample(5)

In [ ]:
# Îç∞Ïù¥ÌÑ∞ÏÖãÏùò Ï§ëÎ≥µÎêú Îç∞Ïù¥ÌÑ∞ Í∞úÏàò ÌôïÏù∏
df1.duplicated().sum()