<a href="https://colab.research.google.com/github/severancej/colorful_project/blob/main/AI_14_%EC%9E%A5%EC%A7%80%EC%9D%80_Section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# <항상 시작 전>라이브러리 불러오기

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [2]:
#파일 업로드
from google.colab import files
uploaded = files.upload()

Saving vgames2.csv to vgames2 (7).csv

In [3]:
# .read_csv() 활용하여 데이터 불러오기
df = pd.read_csv('vgames2.csv')

#데이터 정제 전 원본copy함
df1 = df.copy()

In [4]:

#데이터셋의 shape 확인
print(df1.shape)
print("")
print("")

#데이터셋의 info 확인
print(df1.info( ))

(16598, 10)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16598 non-null  int64
 1   Name         16598 non-null  object
 2   Platform     16598 non-null  object
 3   Year         16327 non-null  float64
 4   Genre        16548 non-null  object
 5   Publisher    16540 non-null  object
 6   NA_Sales     16598 non-null  object
 7   EU_Sales     16598 non-null  object
 8   JP_Sales     16598 non-null  object
 9   Other_Sales  16598 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.3+ MB
None

In [5]:
#🕹️ Data Description
#Name : 게임의 이름입니다.
#Platform : 게임이 지원되는 플랫폼의 이름입니다.
#Year : 게임이 출시된 연도입니다.
#Genre : 게임의 장르입니다.
#Publisher : 게임을 제작한 회사입니다.
#NA_Sales : 북미지역에서의 출고량입니다.
#EU_Sales : 유럽지역에서의 출고량입니다.
#JP_Sales : 일본지역에서의 출고량입니다.
#Other_Sales : 기타지역에서의 출고량입니다.
df1.head( )

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
0,1,Candace Kane's Candy Factory,DS,2008.0,Action,Destineer,0.04,0,0,0
1,2,The Munchables,Wii,2009.0,Action,Namco Bandai Games,0.17,0,0,0.01
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010.0,Adventure,Alchemist,0,0,0.02,0
3,4,Deal or No Deal: Special Edition,DS,2010.0,Misc,Zoo Games,0.04,0,0,0
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010.0,Platform,D3Publisher,0.12,0.09,0,0.04

In [6]:
# 데이터의 결측치 확인 - df1
pd.DataFrame(df1.isnull().sum(), columns=["결측치 개수"])

             결측치 개수
Unnamed: 0        0
Name              0
Platform          0
Year            271
Genre            50
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0

In [7]:
# 데이터 중 Year, Genre, Publisher 컬럼의 결측값 확인
df1[df1['Year'].isnull() | df1['Genre'].isnull() | df1['Publisher'].isnull()]

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales
31,32,Rock Band,X360,NaN,Misc,Electronic Arts,1.93,0.34,0,0.21
50,51,Ape Escape: On the Loose,PSP,2005.0,NaN,Sony Computer Entertainment,0.52,0.01,0.12,0.05
109,110,Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales),Wii,NaN,Racing,Unknown,0,0,0.02,0
272,273,UK Truck Simulator,PC,2010.0,Simulation,NaN,0,0.03,0,0
273,274,Jewel Link Chronicles: Mountains of Madness,DS,NaN,Puzzle,Avanquest,0,0.06,0,0.01
...,...,...,...,...,...,...,...,...,...,...
16425,16426,Yoostar on MTV,X360,NaN,Misc,Unknown,0.06,0,0,0
16431,16432,Cars: Mater-National Championship,X360,2007.0,NaN,THQ,0.13,0,0,0.01
16432,16433,Bejeweled 3,X360,NaN,Puzzle,Unknown,0.13,0,0,0.01
16555,16556,Apache: Air Assault,PC,2010.0,NaN,Just Flight,0,0.03,0,0.01
16587,16588,Need for Speed Underground 2,XB,2004.0,NaN,Electronic Arts,1.38,0.8,0,0.1

In [11]:
# 결측데이터를 삭제한 이유는 다음분기 게임 설계를 위해 
#연도별 게임트렌드를 알아야 하는데
#삭제하지 않고 값을 0으로 두면 정확한 연도별 게임트렌드 분석수치가 달라질것 같아서이고
#전체 데이터 16597개 중 Year 결측치271개는 1.63%정도여서, 삭제한다해도 분석결과에 큰 영향을 주지 않을거라고 생각한다. 
df1['Year'].dropna(axis=0,inplace=True)

TypeError: ignored

In [10]:
# column_Year을 이해하기 쉽게 int로 변환
#전체 데이터 보니깐 년도만 표시해서 float형태로 있을 필요가 없음
df1 = df1.astype({'Year':'int'})

AttributeError: ignored

In [ ]:
df1[ df1['Genre'].isnull()]

In [ ]:
df1['Genre'].fillna(0, inplace=True)

In [ ]:

df1[df1['Year'].isnull() | df1['Genre'].isnull() | df1['Publisher'].isnull()]

In [ ]:
# 결측치를 0으로 대체
df1.fillna(0, inplace=True)

In [ ]:
df1.sample(5)

In [ ]:
# 데이터셋의 중복된 데이터 개수 확인
df1.duplicated().sum()